@model MyLeasing.Web.Data.Entities.Property

@{
    ViewData["Title"] = "تفاصيل";
}

<h2>تفاصيل العقار</h2>

<div class="row">
    <div class="col-md-6">
        <div>
            <h4>تفاصيل المالك</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                   @Html.DisplayNameFor(model => model.Owner.User.Document)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.Document)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.User.FullName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.FullName)
                </dd>
                <dt>
                   البريد الالكتروني
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.Email)
                </dd>
                <dt>
                   رقم الهاتف
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.PhoneNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h4>تفاصيل العقار</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    الحي
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Neighborhood)
                </dd>
                <dt>
                    العنوان
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                   السعر
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price) شيكل
                </dd>
                <dt>
                    المساحة
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SquareMeters) متر
                </dd>
                <dt>
                   عدد الغرف
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Rooms)
                </dd>
                <dt>
                   لديها موقف سيارات؟
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HasParkingLot)
                </dd>
                <dt>
                    متوفر؟
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsAvailable)
                </dd>
               
            </dl>
        </div>
    </div>
</div>

<hr style="margin-bottom:25px;">
@if (Model.PropertyImages.Count == 0)
{
    <div class="alert alert-danger" role="alert" style="text-align:center;">
        لم يتم اضافة صور !
    </div>
}
else
{
    <div class="row">
        @if (Model.PropertyImages.Count > 0)
        {
            @foreach (var item in Model.PropertyImages)
            {
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <a href="@Url.Content(item.ImageUrl)" target="_blank"><img src="@Url.Content(item.ImageUrl)" alt="Image" class="img-thumbnail" style="width:300px; height:250px; margin-bottom:20px; margin-right:16px;" /></a>
                }
            }
        }
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
