@model MyLeasing.Web.Data.Entities.Property

@{
    ViewData["Title"] = "تفاصيل";
}

<style>


    body {
        background-color: #F5F5F5;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #000;
        text-align: right;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #tt {
        font-size: 20px;
        font-weight: bold;
    }
</style>

<div style="margin-top:50px; border-bottom:2px solid #ededed; padding-bottom:10px;">
    <h4 style="font-weight:bold; text-decoration: underline;">تفاصيل العقار</h4>
</div>


<div style="background-color:whitesmoke; opacity:0.8; margin-top:20px;">
    <div class="row">
        <div class="col-md-6 col-sm-7 col-xs-12">
            <div style="margin-top:10%;">
                <table>
                    <tr>
                        <th id="tt">
                            الحي :
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.Neighborhood)
                        </th>
                        <th id="tt">
                            المنطقة :
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.Address)
                        </th>
                    </tr>
                    <tr>
                        <th id="tt">
                            نوع العقار :
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.PropertyType.Name)
                        </th>
                        <th id="tt">
                            طبيعة العقار :
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.Typeprop)
                        </th>
                    </tr>
                    <tr>
                        <th id="tt">
                            السعر :
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.Price) شيكل
                        </th>
                        <th id="tt">
                            المساحة :
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SquareMeters) متر
                        </th>
                    </tr>
                    <tr>
                        <th id="tt">
                            الطابق :
                        </th>
                        <th>
                            @if (Model.Stratum != null)
                            {
                                @Html.DisplayFor(model => model.Stratum)
                            }
                            else
                            {
                                <p>
                                    لا يوجد
                                </p>
                            }
                        </th>
                        <th id="tt">
                            الغرف :
                        </th>
                        <th>
                            @if (Model.Rooms != null)
                            {
                                @Html.DisplayFor(model => model.Rooms)
                            }
                            else
                            {
                                <p>
                                    لا يوجد
                                </p>
                            }
                        </th>
                    </tr>
                    <tr>
                        <th id="tt">
                            الحمامات :
                        </th>
                        <th>
                            @if (Model.Bathrooms != null)
                            {
                                @Html.DisplayFor(model => model.Bathrooms)
                            }
                            else
                            {
                                <p>
                                    لا يوجد
                                </p>
                            }
                        </th>
                        <th id="tt">
                            الشرفات :
                        </th>
                        <th>
                            @if (Model.Balconies != null)
                            {
                                @Html.DisplayFor(model => model.Balconies)
                            }
                            else
                            {
                                <p>
                                    لا يوجد
                                </p>
                            }
                        </th>
                    </tr>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <tr>
                            <th id="tt">
                                اسم المالك :
                            </th>
                            <th>
                                @Html.DisplayFor(model => model.Owner.User.FullName)
                            </th>
                            <th id="tt">
                                رقم الجوال :
                            </th>
                            <th>
                                @Html.DisplayFor(model => model.Owner.User.PhoneNumber)
                            </th>
                        </tr>
                    }
                    <tr>
                        <th id="tt">
                            لديها موقف سيارات؟
                        </th>
                        <th>
                            @if (Model.HasParkingLot != false)
                            {
                                <p>
                                    يوجد
                                </p>
                            }
                            else
                            {
                                <p>
                                    لا يوجد
                                </p>
                            }
                        </th>
                        <th id="tt">
                            متوفر؟
                        </th>
                        <th>
                            @if (Model.IsAvailable != false)
                            {
                                <p>
                                    متاح
                                </p>
                            }
                            else
                            {
                                <p>
                                    غير متاح
                                </p>
                            }
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6 col-sm-2" style="margin-top:15px; text-align:center;">
            <div id="myDiv" style="width:100%;height:400px;"></div>
        </div>
    </div>
</div>
<br />
<p id="tt">
    معلومات اضافية:
</p>
@Html.Raw(Model.Remarks)
<hr style="margin-bottom:15px;" />

<hr style="margin-bottom:15px;" />
<div>
    <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-info" style=" background-color:#31B0D5; border:none; color:#fff;">اضافة صور</a>
    <a asp-action="MyProperties" class="btn" style="background-color:#D1D1D1; color:#000; margin-right:5px;">الغاء</a>
</div>
<hr />


<div style="width: 100%;  margin-top:15px; height:auto; ">


    @if (Model.PropertyImages.Count == 0)
    {
        <div class="alert alert-danger" role="alert">
            لم يتم اضافة صور !
        </div>
    }
    else
    {

        @if (Model.PropertyImages.Count > 0)
        {
            @foreach (var item in Model.PropertyImages)
            {
                <div class="col-md-3 col-sm-5 col-xs-11  thumbnail " style="border-color:#e4e4e4; width:19%; margin:.5%;   background-color:#f5f5f5;  border-radius:.2px;">
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <a href="@Url.Content(item.ImageUrl)" target="_blank"><img src="@Url.Content(item.ImageUrl)" alt="Image" class="img-thumbnail" style="width:300px; height:150px; margin-top:10px; margin-bottom:10px;" /></a>
                        <center> <button data-id="@item.Id" class="btn btn-danger deleteImage" data-toggle="modal" data-target="#deleteDialog" style="outline:none; border:none; margin-bottom:10px;"><i class="glyphicon glyphicon-trash"></i></button></center>
                    }
                </div>
            }

        }

    }


</div>

<!--Delete Item-->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">حذف العنصر</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>هل تريد حذف هذه الصورة ؟</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="outline:none; border:none;" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-danger" style="outline:none; border:none;" id="btnYesDelete">حذف</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTableImages').DataTable();
            $('#MyTableContracts').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteImage').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Owners/DeleteImage/' + item_to_delete;
            });
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
    <script type="text/javascript">

            //Set the Latitude and Longitude of the Map
            var myAddress = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);

            //Create Options or set different Characteristics of Google Map
            var mapOptions = {
                center: myAddress,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            //Display the Google map in the div control with the defined Options
            var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);

            //Set Marker on the Map
            var marker = new google.maps.Marker({
                position: myAddress,
                animation: google.maps.Animation.BOUNCE,
            });
            marker.setMap(map);
    </script>
}
