@model MyLeasing.Web.Data.Entities.Property

@{
    ViewData["Title"] = "تفاصيل";
}

<style>


    body {
        background-color: #F5F5F5;
    }

    dl {
        width: 100%;
        display: flex;
    }

    dt, dd {
        display: table-cell;
        padding: 10px;
    }
</style>

<div style="margin-top:45px;">
    <span style="font-weight:bold;">تفاصيل العقار</span>
</div>

<hr />
<dl>
    <dt>
        نوع العقار :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PropertyType.Name)
    </dd>


    <dt>
        الحي :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Neighborhood)
    </dd>

    <dt>
        العنوان :

    </dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>


    <dt>
        السعر :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Price) شيكل
    </dd>

    <dt>
        المساحة :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SquareMeters) متر
    </dd>


    <dt>
        الغرف :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Rooms)
    </dd>

    <dt>
        متوفر :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IsAvailable)
    </dd>
</dl>
<dl>
    <dt>
        طبيعة العقار :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Typeprop)
    </dd>

    <dt>
        لديها موقف سيارات :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.HasParkingLot)
    </dd>



    <dt>
        ملاحظات :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Remarks)
    </dd>

</dl>

    <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-primary">اضافة صورة</a>


<hr style="margin-bottom:25px;">
@if (Model.PropertyImages.Count == 0)
{
    <div class="alert alert-danger" role="alert" style="text-align:center;">
        لم يتم اضافة صور !
    </div>
}
else
{
    <div class="row">
        @if (Model.PropertyImages.Count > 0)
        {
            @foreach (var item in Model.PropertyImages)
            {
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <a href="@Url.Content(item.ImageUrl)" target="_blank"><img src="@Url.Content(item.ImageUrl)" alt="Image" class="img-thumbnail" style="width:300px; height:250px; margin-bottom:20px; margin-right:16px;" /></a>
                }
            }
        }
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
